<section class="home" id="home">
    <div class="home-content">
            <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                    <img src="assets/images/assortment-pieces-cake.jpg" alt="" class="home-img">

                                    <div class="home-details">
                                            <div class="home-text">
                                                    <h4 class="homeSubtitle">Hacemos los que realmente nos gusta</h4>
                                                    <h2 class="homeTitle">La mejor pasteleria Gourmet. <br>Sabor Perfecto</h2>
                                            </div>

                                            <button class="button" routerLink="/store">Explora nuestra tienda</button>
                                    </div>
                            </div>

                            <div class="swiper-slide">
                                    <img src="assets/images/multi-colored-cupcakes.png" alt="" class="home-img">

                                    <div class="home-details">
                                            <div class="home-text">
                                                    <h4 class="homeSubtitle">Disfrute de nuestros exquisitos Productos</h4>
                                                    <h2 class="homeTitle">Disfrute de la mejor bizcocheria<br>milhojas....</h2>
                                            </div>

                                            <button class="button" routerLink="/store">Explora nuestra tienda</button>
                                    </div>
                            </div>

                            <div class="swiper-slide">
                                    <img src="assets/images/victoria-sponge-cake-isolated-white.png" alt="" class="home-img">

                                    <div class="home-details">
                                            <div class="home-text">
                                                    <h4 class="homeSubtitle">Productos con el sabor de casa</h4>
                                                    <h2 class="homeTitle">Sabores que evocan.<br>Hojaldres recien horneados</h2>
                                            </div>

                                            <button class="button" routerLink="/store">Explora nuestra tienda</button>
                                    </div>
                            </div>
                    </div>

                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
            </div>
    </div>
</section>
