<section class="section about" id="about">
    <div class="about-content container">
            <div class="about-imageContent">
                    <img src="assets/images/aboutImg.jpg" alt="" class="about-img">

                    <div class="aboutImg-textBox">
                            <i class='bx bx-heart heart-icon flex'></i>
                            <p class="content-description">Me encanta una torta recien horneada que despierte mis sentidos de manera expectacular...</p>
                    </div>
            </div>

            <div class="about-details">
                    <div class="about-text">
                            <h4 class="content-subtitle"><i>disfrute de nuestra amplia variedad</i></h4>
                            <h2 class="content-title">combinamos lo clasico y lo <br> moderno</h2>
                            <p class="content-description">apreciamos realemente su lealtad a nustros productos, por eso nos esmeramos por ofrecer lo mejor. Es por ese motivo que nuestros clientes nos escogen y a nuestros productos
                            </p>

                            <ul class="about-lists flex">
                                    <li class="about-list">Tortas</li>
                                    <li class="about-list dot">.</li>
                                    <li class="about-list">Ponques</li>
                                    <li class="about-list dot">.</li>
                                    <li class="about-list">Hojaldre</li>
                            </ul>
                    </div>

                    <div class="about-buttons flex">
                            <button class="button">Sobre Nosotros</button>
                            <a href="#" class="about-link flex">
                                    <span class="link-text">Ver mas</span>
                                    <i class='bx bx-right-arrow-alt about-arrowIcon'></i>
                            </a>
                    </div>
            </div>

    </div>
</section>
