<header class="header-admin">
 
  <div class="container">
    
    <nav class="menu-admin">
      <ul class="ul-menu-admin">
        <li><a class="link-item-admin" routerLink="products">Products</a></li>
        <li><a class="link-item-admin" routerLink="products/new">New Product</a></li>
        <li><a class="link-item-admin" routerLink="categories">Categories</a></li>
        <li>
          <button class="btn-item-admin"
            type="button"
            (click)="logout()"
          >Salir</button>
        </li>
      </ul>
    </nav>
  </div>
</header>


<router-outlet></router-outlet>
