
<div class="bg-pouder-table-pattern category-text">
  <div class="container">
    <div class="page page-categories">
      <div class="content">

        <form
        class="form form-product form-center"
        [formGroup]="categoryForm"
        (ngSubmit)="createOrUpdateCategory()"
        autocomplete="off"
      >
        <h2>Categorias</h2>
        <p>Registra nuevas categorias. Diligencia cada uno de los campos según sean requeridos.</p>
        <div class="field">
          <label for="name">Nombre*</label>
          <input
            id="name"
            class="input-field"
            type="text"
            formControlName="name"
            placeholder="Nombre de la Categoria"
          />
        </div>
        <div class="field">
          <label for="description">Descripción</label>
          <textarea
            id="description"
            class="input-field"
            formControlName="description"
            placeholder="Descripción de la categoria"
            cols="20"
            rows="5"
          ></textarea>
        </div>
        <div class="field">
          <button
            type="submit"
            [disabled]="categoryForm.invalid"
          >{{ this.selectedCategory ? "Editar" : "Crear" }} Categoria</button>
        </div>
      </form>
  
      <div class="list-categories">
        <h2 class="title-h2">Lista de productos</h2>
  
        <ng-container *ngIf="categories && categories.length > 0; then categoryList; else noCategories">
        </ng-container>
        
        <ng-template #categoryList>
          <h3 class="title-h3">Categorías registradas</h3>
        
          <table class="table table-products">
            <thead class="table-thead">
              <th>Nombre</th>
              <th>Descripción</th>
              <th colspan="2"></th>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td class="actions">
                  <button
                    class="btn btn-primary icon icon-edit"
                    (click)="loadCategory( category )"
                  >
                    <fa-icon [icon]="editIcon"></fa-icon>
                  </button>
                  <button
                    class="btn btn-primary icon icon-delete"
                    (click)="deleteCategory( category._id )"
                  >
                    <fa-icon [icon]="deleteIcon"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        
        </ng-template>
        
        <ng-template #noCategories>
          <h3>No has registrado categorias</h3>
        </ng-template>
  
      </div>

      </div>
  
    </div>
  </div>
</div>
