<section class="section review" id="review">
    <div class="review-container container">
            <div class="review-text">
                    <h4 class="section-subtitle"><i>Reviews</i></h4>
                    <h2 class="section-title">What Clients Says</h2>
                    <p class="section-description">Some reviews that customer said about coffee services and business Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt magnam totam repellat, labore commodi exercitationem!</p>
            </div>

            <div class="tesitmonial swiper mySwiper">
                    <div class="swiper-wrapper">
                            <div class="testi-content swiper-slide flex">
                                    <img src="images/profileImg2.jpg" alt="" class="review-img">
                                    <p class="review-quote">Your coffee hits the spot every time. Thank you for the experience of pure, delicious coffee masterfully roasted! I will never purchase any other and I will spread the word!</p>
                                    <i class='bx bxs-quote-alt-left quote-icon'></i>

                                    <div class="testi-personDetails flex">
                                            <span class="name">Marnie Rotter</span>
                                            <span class="job">App Developer</span>
                                    </div>
                            </div>
                            <div class="testi-content swiper-slide flex">
                                    <img src="images/profileImg1.jpg" alt="" class="review-img">
                                    <p class="review-quote">Your coffee hits the spot every time. Thank you for the experience of pure, delicious coffee masterfully roasted! I will never purchase any other and I will spread the word!</p>
                                    <i class='bx bxs-quote-alt-left quote-icon'></i>

                                    <div class="testi-personDetails flex">
                                            <span class="name">Marnie Rotter</span>
                                            <span class="job">App Developer</span>
                                    </div>
                            </div>
                            <div class="testi-content swiper-slide flex">
                                    <img src="images/profileImg3.jpg" alt="" class="review-img">
                                    <p class="review-quote">Your coffee hits the spot every time. Thank you for the experience of pure, delicious coffee masterfully roasted! I will never purchase any other and I will spread the word!</p>
                                    <i class='bx bxs-quote-alt-left quote-icon'></i>

                                    <div class="testi-personDetails flex">
                                            <span class="name">Marnie Rotter</span>
                                            <span class="job">App Developer</span>
                                    </div>
                            </div>
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-pagination"></div>
            </div>
    </div>
</section>
