<footer class="section footer">
            <div class="footer-container container">
                    <div class="footer-content">
                        <a href="#" class="logo-content flex">
                                <i class='bx bx-coffee logo-icon'></i>
                                <span class="logo-text">Postres.</span>
                            </a>

                            <p class="content-description">Nuestros deliciosos postres y tortas son la esencia de tradición que adoran nuestras queridas familias. ¡Ven y saborea!.</p>

                            <div class="footer-location flex">
                                <i class='bx bx-map map-icon'></i>
                                
                                <div class="location-text">
                                        Bogotá calle 81 # 10 - 21 Barrio Yomasa, Colombia
                                </div>
                            </div>
                    </div>

                    <div class="footer-linkContent">
                            <ul class="footer-links">
                                    <h4 class="footerLinks-title">Comodidad</h4>

                                    <li><a href="#" class="footer-link">Ambiente familiar</a></li>
                                    <li><a href="#" class="footer-link">Zona de café</a></li>
                                    <li><a href="#" class="footer-link">Zona de eventos</a></li>
                                    <li><a href="#" class="footer-link">Fechas especiales</a></li>
                                    <li><a href="#" class="footer-link">Reuniones</a></li>
                            </ul>
                            <ul class="footer-links">
                                    <h4 class="footerLinks-title">Facility</h4>

                                    <li><a href="#" class="footer-link">Postres</a></li>
                                    <li><a href="#" class="footer-link">Galleteria</a></li>
                                    <li><a href="#" class="footer-link">Café</a></li>
                            </ul>
                            <ul class="footer-links">
                                    <h4 class="footerLinks-title">Support</h4>

                                    <li><a href="#" class="footer-link">Sobre nosotros</a></li>
                                    <li><a href="#" class="footer-link">FAQs</a></li>
                                    <li><a href="#" class="footer-link">Politicas de Privacidad</a></li>
                                    <li><a href="#" class="footer-link">Ayudanos</a></li>
                            </ul>
                    </div>
            </div>
            <div class="footer-copyRight">&#169; CodingLab. All rigths reserved</div>
        </footer>
