<div class="container">
  <h2 class="title">Lista de productos</h2>

  <ng-container *ngIf="products && products.length > 0; then productList; else noProducts">
  </ng-container>
  
  <ng-template #productList>
    <p class="description">Productos registrados por el usuario</p>
    <table class="table table-products">
      <thead>
        <th class="table-title title-imagen"></th>
        <th class="table-title title-nombre">Nombre</th>
        <th class="table-title title-descripcion">Description</th>
        <th class="table-title title-detalles">Detalles</th>
        <th colspan="2" class="table-title title-acciones"></th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td><img class="product-image" [src]="product.urlImage" [alt]="product.name"></td>
          <td class="product-name">
            <strong>{{ product.name }}</strong>
            <p class="product-description">{{product.description}}</p>
            <p>{{ product.category }}</p>
          </td>
          <td class="product-details">
            <p>{{ product.price | currency }}</p>
            <p>{{ product.quantity }}</p>
           <p>{{ product.ranking }}</p>
          </td>
          
          <td>
            <button
              class="btn btn-primary"
              (click)="update( product._id )"
            >
              <fa-icon [icon]="editIcon"></fa-icon>
            </button>
          </td>
          <td>
            <button
              class="btn btn-primary"
              (click)="delete( product._id )"
            >
            <fa-icon [icon]="deleteIcon"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
  </ng-template>
  
  <ng-template #noProducts>
    <h3>No has registrado productos</h3>
  </ng-template>

</div>

